<div class="team-member">
  <div class="row">
    <div class="col-sm-4">
      {{ with .Params.image }}
      <img src="{{ . }}" alt="{{ .Params.name }}" class="img-circle img-responsive">
      {{ end }}
    </div>
    <div class="col-sm-8">
      <h3>{{ .Params.name }}</h3>
      <p class="text-muted">{{ .Params.position }}</p>
      <p>{{ .Params.description }}</p>
      <ul class="list-inline social-buttons">
        {{ with .Params.twitter }}
        <li><a href="{{ . }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {{ end }}
        {{ with .Params.github }}
        <li><a href="{{ . }}" target="_blank"><i class="fa fa-github"></i></a></li>
        {{ end }}
        {{ with .Params.linkedin }}
        <li><a href="{{ . }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
