{{- $merge := .Site.Funcs "merge" -}}
{{- $params := .Get 0 -}}
{{ $section := .Section }}
{{ $page := index .Site.Pages (printf "%s/%s.md" $section $params.page) -}}

{{- if eq $params.layout "team" -}}
  {{- $page := index .Site.Pages (printf "%s/_index.md" $section) -}}
  {{- $params := $merge $params (dict "page" $page) -}}
  {{- if $page -}}
    {{- partial $widget $params -}}
  {{- else -}}
    {{- errorf "Unable to find page for widget_page shortcode: %s" $params.page -}}
  {{- end -}}
{{- else -}}
  {{- if $page -}}
    {{- $params := $merge $params (dict "page" $page) -}}
    {{- partial $widget $params -}}
  {{- else -}}
    {{- errorf "Unable to find page for widget_page shortcode: %s" $params.page -}}
  {{- end -}}
{{- end -}}
